.App{
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    flex: 1
}

@font-face {
    font-family: 'Ferry';
    src: url('../fonts/ferry_black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1 {
    font-family: 'Ferry', "Inter";
}