.tariff.beginner {
    display: flex;
    flex-direction: column;
    border: 2px solid #ffcc80;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 30%;
    height: 700px;

}

.tariff.beginner:hover {
    transform: translateY(-5px);
}

.tariff.beginner .tariff-header{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffb64f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


.tariff.beginner h2 {
    font-size: 36px; /* Увеличиваем размер шрифта */
    font-weight: bold;
    margin: 15px 0; /* Увеличиваем отступы */
    padding: 0px 0px 0px 30px;
}

.tariff.beginner .tariff-header p {
    margin: 0;
    font-size: 20px;
    padding: 0px 0px 0px 30px;
}

.tariff.beginner .tariff-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;

}

.tariff.beginner .price-info{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    padding: 0px 0px 0px 30px;
}

.tariff.beginner .price-info .price {
    font-size: 34px; /* Увеличиваем размер шрифта */
    font-weight: bold;
}

.tariff.beginner .price-info .old-price {
    font-size: 32px; /* Увеличиваем размер шрифта */
    color: gray;
    text-decoration: line-through;
    margin: 34px 0px;
}

.tariff.beginner .features {
    margin-top: 15px; /* Увеличиваем отступы */
    list-style: none;
    padding: 0;
}

.tariff.beginner .features li {
    font-size: 18px; /* Увеличиваем размер шрифта */
    color: #444;
    padding: 8px 0; /* Увеличиваем отступы */
}

.tariff.beginner button {
    margin-top: 20px; /* Увеличиваем отступы */
    margin-bottom: 15px; /* Увеличиваем отступы */
    padding: 15px 30px; /* Увеличиваем padding */
    font-size: 18px; /* Увеличиваем размер шрифта */
    color: #fff;
    background-color: #666;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Контейнер для карточек */
.tariff-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.in_personal_account {
    align-self: center; /* Выравниваем кнопку по центру */
    margin-top: 20px; /* Увеличиваем отступы */
    margin-bottom: 15px; /* Увеличиваем отступы */
    padding: 15px 30px; /* Увеличиваем padding */
    font-size: 18px; /* Увеличиваем размер шрифта */
    color: #fff;
    background-color: #666;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}