.tariff.beginner {
    border: 2px solid #ffcc80;
    border-radius: 15px;
}

.tariff.beginner.no-border {
    border: none;
}


.tariff.beginner .tariff-header{
    background-color: #ffb64f;
}


.in_personal_account {
    align-self: center;
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #666;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.tariff .beginner button {
    margin-top: 20px;
    background-color: #5970ff;

}

@media (max-width: 1395px) {
    .in_personal_account {
        margin-top: 18px;
        margin-bottom: 10px;
        padding: 10px 25px;
        font-size: 16px
    }
}