.tariff.business .tariff-info .tariff-include {

}

.tariff.business .tariff-header{

    background-color: black;

}

.tariff.business h2{
    color: white;

}


.tariff.business .tariff-header p {
    color: white;

}

@media (max-width: 1537px) {
    .tariff.business .tariff-info .tariff-include {

    }
}

@media (max-width: 1395px) {
    .tariff.business .tariff-info .tariff-include {

    }
}











