.tariff.business .tariff-info .tariff-include {
    padding-top: 30px !important;
}

.tariff.business .tariff-header{

    background-color: black;

}

.tariff.business h2{
    color: white;

}


.tariff.business .tariff-header p {
    color: white;

}











