.search_date-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 0px;
    margin: 0px;
    background-color: white;

}

.information {
    padding: 0px 0px 0px 50px;
}

.information h1{
    color: black;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: bold;
    padding: 0px 0px 0px 0px;
}

.information p{
    font-size: 25px;
    padding: 0px 0px 40px 0px;
}

.search-button {
    background-color: #5970ff;
    color: white;
    padding: 10px 20px;
    font-size: 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}

.search-button:hover {
    background-color: #3a57c4;
    transform: scale(1.05);
}

.search-button:active {
    background-color: #3349a3; /* Ещё более тёмный синий при нажатии */
    transform: scale(0.98);
}

.search-button:hover:not(:disabled) {
    background-color: #0056b3; /* Цвет фона при наведении (только для активной кнопки) */
}

.search-button:disabled {
    background-color: #cccccc; /* Серый цвет фона для заблокированной кнопки */
    color: #666666; /* Серый цвет текста */
    cursor: not-allowed; /* Курсор "недоступно" */
}

.search-image{
    width: 800px;
    height: auto;
    padding: 0px 30px 0px 50px;
}

@media (max-width: 1605px) {
    .search-image{
        width:600px;
        padding: 0px 10px 0px 50px;

    }
}



@media (max-width: 1400px) {
    .search-image{
        width:500px;
    }
    .information h1 {
        font-size: 50px;
    }

    .information p {
        font-size: 20px;
    }


}

@media (max-width: 992px) {
    .search_date-container {
        flex-direction: column;
        text-align: start;
        padding: 0 20px;
    }

    .information {
        padding: 20px;
        text-align: left; /* Текст остается слева */
        width: 100%; /* Занимает всю ширину */
    }

    .information h1 {
        font-size: 50px;
    }

    .information p {
        font-size: 20px;
    }

    .search-button {
        display: block; /* Делаем кнопку блочным элементом */
        margin: 0 auto; /* Центрируем кнопку */
    }

    .search-image {
        width: 500px;
        height: auto;
        padding: 20px;
    }

}

@media (max-width: 768px) {
    .information h1 {
        font-size: 30px;
    }

    .information p {
        font-size: 16px;
    }

    .search-image {
        width: 350px;
        height: auto;
        padding: 20px;
    }



}

