.search-result {
    display: flex;
    flex-direction: column;
}

.search-result-header {
    display: flex;
    flex-direction: row;
    padding: 30px 0px 0px 50px;
}

.search-result-header .text-content{
    display: flex;
    flex-direction: column;
    padding: 50px 0px 0px 0px
}

.search-result-header .text-content h1{
    font-size: 70px;
    padding: 0px;
}

.search-result-header .text-content{
    font-size: 40px;
}

.image-section{
    display: flex;
    justify-content: center;
}

.search-result-image {
    height: 80%;
    width: auto;

}

.general-summary{
    padding: 50px 0px 0px 50px
}

.general-summary h2{
    font-size: 60px;
}

.histograms-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Расстояние между стрелочками и гистограммами */
    position: relative;

}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.circle-spinner {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-spinner .dot {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: gray;
    border-radius: 50%;
    animation: circle-rotate 1.2s linear infinite;
    transform-origin: 50% 50%;
}

/* Расположение точек по кругу */
.circle-spinner .dot {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(calc(var(--i) * 45deg)) translateY(-25px);
    animation-delay: calc(var(--i) * 0.15s);
}

@keyframes circle-rotate {
    0% {
        opacity: 0.3;
        transform: translate(-50%, -50%) rotate(calc(var(--i) * 45deg)) translateY(-25px) scale(0.8);
    }
    50% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(calc(var(--i) * 45deg)) translateY(-25px) scale(1);
    }
    100% {
        opacity: 0.3;
        transform: translate(-50%, -50%) rotate(calc(var(--i) * 45deg)) translateY(-25px) scale(0.8);
    }
}

.histograms {
    display: flex;
    flex-direction: row;
    gap: 20px;
    border: 3px solid #029491;
    border-radius: 8px;
    margin: 0 auto; /* Центрируем */
    width: 90vw; /* Ширина почти на всю страницу */
    overflow: hidden; /* Скрываем лишнее */
}

.content-histograms {
    display: flex;
    gap: 5px;
    overflow-x: auto; /* Горизонтальная прокрутка */
    scroll-behavior: smooth; /* Плавная прокрутка */
    white-space: nowrap; /* Запрет переноса строк */
    max-width: 85vw; /* Чуть меньше ширины блока, чтобы учесть отступы */
}

/* Стили для заголовков гистограмм */
.header-histograms {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 20px;
    background-color: #029491;
    border-radius: 8px;
    font-weight: bold;
}

.header-histograms p {
    padding-top: 20px;
    flex: 1;
    text-align: center;
    font-size: 24px;
    color: white;
}

/* Стили для контейнера карточек гистограмм *

/* Стили для карточек гистограмм */
.histogram-card {
    flex: 0 0 auto; /* Фиксированная ширина, чтобы карточки не сжимались */
    width: 200px; /* Ширина карточки */
    margin-top: 20px;
    border-right: 2px solid #ccc;
    background-color: #ffffff;
    text-align: center;

}

.histogram-card h3 {
    font-size: 26px;
    margin: 0px;
}

.histogram-card p {
    font-size: 26px;
    margin-top: 40px;
    margin-bottom: 0px;
}

.scroll-button {
    background-color: transparent; /* Прозрачный фон */
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px; /* Ширина кнопки */
    height: 70px; /* Высота кнопки */
}

.scroll-button img {
    width: 100%; /* Картинка занимает всю ширину кнопки */
    height: 100%; /* Картинка занимает всю высоту кнопки */
    object-fit: contain; /* Сохраняет пропорции картинки */
}

/* Позиционирование стрелочек */
.scroll-button.left {
    position: absolute;
    left: -50px; /* Расположение слева от гистограмм */
    margin-left: 50px;
}

.scroll-button.right {
    position: absolute;
    right: -50px; /* Расположение справа от гистограмм */
    margin-right: 70px;
}

.list-of-documents {
    padding: 50px 50px 0px 50px
}

.list-of-documents h2{
    font-size: 60px;
}

.publications {
    display: flex;
    flex-wrap: wrap; /* Разрешаем перенос карточек на новую строку */
    gap: 40px; /* Расстояние между карточками */
}




.publication-card {
    flex: 1 1 calc(50% - 40px); /* 2 карточки в строке с учетом gap */
    box-sizing: border-box;
    border-radius: 8px;
    padding: 16px;
    margin: 16px 0;
}


.card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 12px;
    padding-bottom: 20px;
    gap: 50px;
}

.card-header p {
    margin: 0;
    font-size: 14px;
    color: #666;
}

.card-header a {
    color: grey;
    font-weight: bold;
}

.card-header a:hover {
    text-decoration: underline;
}

.card-content {
    margin-bottom: 16px;
    max-height: 1000px; /* Ограничиваем высоту контента */
    overflow: hidden; /* Скрываем лишний контент */
    position: relative; /* Для псевдоэлемента */

}

.card-content::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px; /* Высота градиента */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); /* Градиент для плавного скрытия текста */
}

p, span, li {
    font-size: 18px; /* Размер шрифта для обычного текста */
    color: #555; /* Цвет текста */
    line-height: 1.6; /* Межстрочный интервал */
    margin: 0 0 6px 0; /* Отступ снизу */
}

/* Заголовки */


.card-content h2 {
    font-size: 30px; /* Размер шрифта для h2 */
    margin: 0 0 10px 0; /* Отступ снизу */
}

.card-content h3 {
    font-size: 30px; /* Размер шрифта для h3 */
    margin: 0 0 6px 0; /* Отступ снизу */
}

/* Жирный текст */
.card-content b, strong {
    font-weight: bold; /* Жирный текст */
}

/* Списки */
.card-content ul {
    list-style-type: disc; /* Маркеры списка */
    padding-left: 20px; /* Отступ слева */
    margin: 0 0 12px 0; /* Отступ снизу */
}

.card-content li {
    margin-bottom: 8px; /* Отступ между элементами списка */
}

/* Ссылки */
.card-content a {
    color: #007bff; /* Цвет ссылок */
    text-decoration: none; /* Убираем подчеркивание */
    font-weight: bold; /* Жирный текст */
}

.card-content a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}

.card-content .title {
    margin: 0 0 12px 0;
    font-size: 30px;
    padding-bottom: 20px;
}

.card-content div {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.read-more-button button {
    background-color: #7ce3e1;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.read-more-button button:hover {
    background-color: #0056b3;
}

.card-footer p {
    margin: 0;
    font-size: 16px;
    color: #666;
}

.show-more-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.show-more-button {
    background-color: #5970ff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 18px 60px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.show-more-button:hover {
    background-color: #0056b3;
}
