.why-we{
    padding: 100px 0px 0px 0px ;
}

.app-container {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 50px;
}

.carousel-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    flex: 0 0 33.333%
}

.carousel-slide img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.carousel-slide p {
    white-space: pre-line;
    margin: 5px 0;
    font-size: 18px;
    text-align: center;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.carousel-prev {
    left: -100px;
}

.carousel-next {
    right: 1000px;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.why-we .text-content h1{
    color: black;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: bold;
    padding: 50px 0px 50px 50px;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 24px;
    color: #000;
    outline: none;
    transition: transform 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
}

.carousel-prev {
    left: 5px;
}

.carousel-next {
    right: 5px;
    background: transparent;
    border: none;
}

.carousel-button:hover {
    transform: translateY(-50%) scale(1.2);
    background: transparent;
    border: none;
}

.carousel-button:active {
    transform: translateY(-50%) scale(1.4);
}

@media (max-width: 1400px) {
    .why-we .text-content h1 {
        font-size: 50px;
    }

    .why-we .carousel-slide p {
        font-size: 16px;
    }
}

@media (max-width: 1200px) {
    .why-we .text-content h1 {
        padding-left: 30px;
    }

    .why-we .text-content h1 {
        font-size: 50px;
        padding: 30px 0 30px 30px;
    }

    .carousel-image {
        width: 30%;
    }
}

@media (max-width: 992px) {

    .why-we .text-content h1 {
        font-size: 40px;
        padding: 20px 0 20px 20px;
    }

    .carousel-container {
        width: 90%;
    }
    .carousel-slide {
        font-size: 12px;
        flex: 0 0 100%;
    }

    .carousel-image {
        width: 30%;
    }
}

@media (max-width: 786px) {
    .why-we .text-content h1 {
        font-size: 30px;

    }

    .carousel-image {
        width: 20%;
    }

    .carousel-slide {
        font-size: 12px;
        flex: 0 0 100%;
    }

}

